@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
--Pale-Violet-sub-heading-at-the-top-of-the-app-UI: hsl(276, 100%, 81%);
--Moderate-Violet-chat-on-the-left: hsl(276, 55%, 52%);
--Desaturated-Dark-Violet-chat-on-the-right: hsl(271, 15%, 43%);
--Grayish-Blue-placeholder-text: hsl(206, 6%, 79%);
--Very-Dark-Desaturated-Violet-main-heading: hsl(271, 36%, 24%);
--Dark-Grayish-Violet-paragraph-: hsl(270, 7%, 64%);
--Light-Magenta: hsl(293, 100%, 63%);
--Light-Violet: hsl(264, 100%, 61%);
--White: hsl(0, 0%, 100%);
--Light-Grayish-Violet-app-background: hsl(270, 20%, 96%);
--Very-Dark-Desaturated-Violet-submit-button-background: hsl(271, 36%, 24%);
--Very-Light-Magenta-radio-button-outline: hsl(289, 100%, 72%);
}

*::before,*,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    width: 100%;
    min-height: 100vh;font-family: "Rubik", sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}