@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
}

html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: 1.4rem;
    font-family: "Raleway", sans-serif;
    background-image: url('images/bg-mobile.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: grid;
    place-content: center;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;   
}

.fylo_component{
    display: flex;
    gap: 2rem;
    flex-flow: column nowrap;
}

