@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    min-height: 100vh;
    font-size: 1.8rem;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color:var(--Dark-Charcoal);
}
.card{
    background-color: white;
}
.card_img{
    width: 100%;
}
.card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wrap{
    margin:2.8rem 3.5rem 0 3.2rem;
}
b{
    font-weight: 600;
}
header{
    line-height: 4rem;
    color:var(--Dark-Charcoal);
    font-family: "Young Serif", serif;
    font-weight: 300;
}

h3{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}
h3{
    color:var(--Nutmeg);
    margin-top: 2rem;
}
p{
    margin-top: 2rem;
}
ul{
    list-style-position: inside;
}
li{
    margin: 1rem 0 1rem 0;
}
hr{
    margin-top: 2rem;
}
.preparation{
    background-color: var(--Rose-White);
    width: 100%;
    padding: 2rem 4rem;
    border-radius: 1.2rem;
    margin-top: 5rem;
}
.preparation h3,
.preparation li::marker{
    color:var(--Dark-Raspberry);
}
.ingredients li::marker,
.instructions li::marker{
   color:var(--Nutmeg);
}
.instructions li{
    list-style-position: inside;
}
.nutrition{
    margin-bottom: 2rem;
}
.nutrition table{
    margin: 2rem 0 1rem 0;
    width: 100%;
}
.nutrition table tr {
    border-bottom: 1px solid var(--Light-Grey);
    margin: 2rem 0;
}
.nutrition table tr td{
    color:var(--Nutmeg);
    margin: 0 2rem;
}
.nutrition table tr th{
    color:var(--Wenge-Brown);
}
.nutrition table tr td,th{
    text-align: left;
}

@media screen and (min-width:600px) {
    body{
        display: grid;
        place-content: center;
        background-color: var(--Rose-White);
        padding-top: 10rem;
    }
   .card{
        width: 50rem;
        padding: 3rem;
        border-radius: 2rem;
   } 
   .card_img img{
        border-radius: 2rem;
   }
}