@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*::before,
*,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: "Bai Jamjuree", sans-serif;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background-image: url('images/bg-header-mobile.png');
    background-size: 100% 20%;
    background-position: top;
    background-repeat: no-repeat;
}

h1,
h2 {
    color: var(--Dark-Grayish-Blue);
    font-size: 3.4rem;
    font-weight: 600;
    margin: 1.5rem 2rem;
}

p {
    font-weight: 400;
    color: var(--Grayish-Blue);
    line-height: 1.5;
    margin: 1.5rem 0;
    margin: 0 2.5rem;
}

a {
    text-decoration: none;
    display: block;
}

main{
    padding: 2rem 2.5rem;
}

.main_logo {
    margin: 8rem auto 8rem auto;
}

.main_logo_img {
    object-fit: cover;
}

.btn {
    border-radius: 2.4rem;
    margin: 2.2rem;
    color: #fff;
    font-weight: 600;
    padding: 1.5rem 0;
}

.green {
    background-color: var(--Strong-Cyan);
}

.blue {
    background-color: var(--Light-Blue);
}

.track,.access,.supercharge,.icons,.clipboard{
    margin: 18rem 0 8rem 0;
}

.computer_img_box,.devices_img_box {
    width: 100%;
}

.computer_img ,.devices_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.two,.supercharge_boxes,.icons{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 2.5rem;
}

.icons{
    gap: 7rem;
}

.icon_box{
    width: auto;
    height: auto;
}

.icon_box > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer{
    padding: 2.5rem;
    margin-top: 18rem;
    background-color: rgba(206, 206, 206, 0.63);
}

.footer_logo{
    margin: 2.5rem auto;
    width: 8rem;
    height: auto;
}

.footer_logo > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav_links,.social_links > li{
    list-style-type: none;
}

.nav_links > li > a{
    color: var(--Grayish-Blue);
}

.nav_links > li > a:hover{
    color:var(--Strong-Cyan);
}

.nav_links{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2rem;
}


.social_links{
    margin: 2.5rem auto;
    display: inline-flex;
    gap: 2.5rem;
}

.attribution {
    color: var(--Grayish-Blue);
}

.attribution a {
    text-decoration: underline;
    color: var(--Strong-Cyan);
}

@media screen and (min-width:758px) {

    html{
        font-size: 70%;
    }

    .btn{
        display: inline-block;
        padding: 1.5rem 4rem;
    }

    .computer{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .computer_img{
        flex-basis: 100%;
        height: auto;
    }

    .supercharge_boxes,.icons{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .icons{
        padding: 2rem;
    }

    footer{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .nav_links{
        margin: 0;
        flex-flow: row wrap;
        width: 20rem;
        justify-content: space-between;
    }

    .footer_logo{
        margin: 0;
    }

    
}